# Python
__pycache__/
*.py[cod]
*$py.class
*.pkl
.env
.venv/
.vscode/
logs/

# Project Specific

*.png
*.log

# Node
node_modules/
npm-debug.log

manual_rescue.bat

# Debug scripts (not needed in repo)
debug_scripts/
